$title-bg: #e5ebf7;
/* #0070c0; */
/* #1F4788; */
/* #5b9bd5; */
$main-text: #595959;
$white-text: #707070;
$shadow: rgba($main-text, 0.75);

body {
  margin: 0;
  padding: 0;
  width: 300px;
  color: $main-text;
  font-size: 20px;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  background-image: url("../img/circles.png");
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
}

a {
  display: block;
  text-decoration: none;
  text-align: center;
}

label {
  position: relative;

  &:hover {
    cursor: pointer;

    input::after {
      box-shadow: 0 0 13px 0 $shadow;
    }
  }

  input {
    width: 18px;
    height: 18px;
    cursor: pointer;

    &:not([type="range"])::after {
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 9px;
      transition: box-shadow 150ms;
    }
  }
}

.line {
  width: 30%;
  border-top: 1px solid rgba($main-text, 0.4);
  margin: 10px auto;
}

.bright {
  transition: filter 150ms;

  &:hover {
    filter: brightness(1.1);
    cursor: pointer;
  }
}

.info {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  background: $title-bg;
  color: $white-text;
  font-size: 14px;
  transform: translateX(calc(100% + 15px));
  transition: transform 350ms;

  &::before {
    content: "?";
    position: absolute;
    left: -17px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    border-radius: 9px 0 0 9px;
    background: $title-bg;
    box-shadow: 0 0 10px $shadow;

  }

  &:hover {
    transform: translateX(15px);
  }
}

/* specific */

#title {
  margin: 5px auto 0;

  img {
    width: 90%;
  }
}

#content {
  margin: 15px 15px 15px 0;
}

#keys {
  position: relative;
  display: flex;
  font-size: 16px;
  margin-bottom: 15px;
  padding: 0 5px;

  label {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    margin-bottom: 3px;
  }
}

#options label,
#strength {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

#strength input {
  flex: 1;
  margin-left: 20px;
}

#strength-value {
  flex: 1 1 40%;
}

#review {
  color: $white-text;
  background: linear-gradient(45deg, white, $title-bg);
  box-shadow: 0 0 10px $shadow;
  padding: 10px 15px;
  font-style: italic;

  img {
    width: 20px;
    filter: drop-shadow(0 0 7px $shadow);
  }
}