/* https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity */
/* https://specifishity.com/ */

[zoom-topmost] {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: calc(100vw) !important;
  height: calc(100vh) !important;
  outline: 3px solid red !important;
  box-shadow: 0 0 15px 3px red !important;
  z-index: 9999999999999999999 !important;
  background: black !important; // For fullscreen elements
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/position */
/* https://stackoverflow.com/a/52937920/10264782 */

:root[in-zoom] {
  width: 100vw !important;
  height: 100vw !important;
  overflow: hidden !important;
}
