/* html {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/c.png");
  background-position: bottom;
  background-size: 2000px;
  background-repeat: repeat-x;
  animation: moving-background 50s infinite linear;
} */
$blue: #21a0ff;

body {
  @extend .flex-center;
  overflow: hidden;
  min-height: 100vh;
  /* background-color: rgb(32, 32, 32); */
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* specific */

#available {
  display: none;
  position: absolute;
  top: 20px;
}
#box {
  position: relative;
  @extend .flex-center;
  transition: padding 0.5s;
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: -20px;
    z-index: -1;
  }
  &::before {
    top: 0;
    bottom: -20px;
    width: 20px;
    clip-path: polygon(100% 0, 0% 100%, 100% calc(100% - 20px));
    background: #dbe0eb;
    transition: bottom 0.5s;
  }
  &::after {
    top: 100%;
    right: 0;
    height: 20px;
    background: #8b8e94;
    clip-path: polygon(20px 0, 0% 100%, 100% 0);
  }
  &.opened {
    padding: 0 0 50px 50px;
    &::before {
      bottom: 0;
    }
    #welcome-container {
      opacity: 1;
      width: 380px;
      margin-right: 100px;
    }
  }
}
@media screen and (max-height: 850px) {
  #box {
    transform: scale(0.8);
  }
}
#more-info {
  position: absolute;
  bottom: 57px;
  left: -122px;
  letter-spacing: 10px;
  transform: rotate(272deg);
  transition: opacity 1s;
  cursor: pointer;
}
#welcome-container {
  opacity: 0;
  width: 0;
  margin-right: 0;
  transition: opacity 0.5s 0.7s, width 0.5s 0.4s, margin-right 0.5s 0.4s;
}
#welcome {
  width: 380px;
  img {
    display: block;
    margin: 15px auto; /* 20px auto 10px; */
    width: 50px;
  }
  span {
    color: $blue;
  }
}
#popup {
  box-shadow: 1px 1px 3px 2px #aeaeae;
  z-index: 1;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  overflow-y: auto;
  transition: opacity 500ms;
  z-index: 99;
  & > div {
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 1px 1px 3px 2px #505050;
    opacity: 0;
    transform: scale(0.8) translateY(-80px);
    transition: opacity 250ms, transform 250ms;
    button {
      font-size: 1rem;
      padding: 10px;
      margin-top: 50px;
      width: 100%;
      background: #e5ebf7;
      border: none;
      cursor: pointer;
    }
    span {
      color: $blue;
    }
  }
}
#installed,
#updated {
  width: 550px;
  display: none;
  strong {
    display: block;
    font-size: 1.5rem;
    color: rgb(70, 214, 70);
    margin-bottom: 20px;
  }
  blockquote {
    position: relative;
    margin: 0;
    p {
      padding: 15px;
      background: #eee;
      border-radius: 5px;

      &::before {
        content: "\201C";
      }
      &::after {
        content: "\201D";
      }
    }
    &::after {
      content: "— Chrome Web Store Description";
      position: absolute;
      right: 0;
      bottom: -20px;
      font-size: 12px;
    }
  }
}
#author {
  width: 800px;
  a {
    display: inline;
    color: rgb(0, 123, 255);
    text-align: left;
  }
  details {
    border: 1px solid #aaa;
    padding: 0.5em 0.5em 0;
    &:first-of-type {
      margin-top: 20px;
    }
    &:last-of-type {
      margin-bottom: 20px;
    }
    &[open] {
      padding: 0.5em;
      summary {
        border-bottom: 1px solid #aaa;
        margin-bottom: 0.5em;
      }
    }
  }
  summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    cursor: pointer;
    strong {
      float: right;
    }
  }
}
#hint {
  position: absolute;
  bottom: 20px;
  columns: gray;
}
#secret {
  position: absolute;
  top: calc(100% + 100px);
  font-size: 50px;
  cursor: pointer;
}
/* @keyframes moving-background {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 2000px;
  }
} */
